* {
    font-family: Garamond;
    color: seashell;
    background-color: black;   
    opacity: 0.9;
    text-align: center;

    /*reset of browser's default values*/
    margin: 0;
    padding: 0;
}

html {
    font-size: 18x;
}

/* header section */

header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    opacity: 1;

}
header a { 
    margin: 10px;
}

header img {
    height: 80px;
    margin-left: 10px;
}
#mission {
    height: 700px;
    width: 1200px;
    background-image: url("https://soimagescdn.azureedge.net/productimage/classroomcollection/elementary_flexibleclassrooma-6%20reconfiguration2.png?width=900&version=v20190422");
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex: 1 1200px;
    flex-flow: column;
}
.text {
    margin: auto;
    background-color: black;
    width: 100%;
    padding: 10px 20px;
    font-size: 22px;
   letter-spacing: 1px;
}

#learn-more {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    width: 80%;
}

.topics {
    margin: 10px 5px;
    display: inline-block;
}

.topics img {
    width: 300px;
    height: 200px;
}

#contact-info {
    padding-top: 30px;
    padding-bottom: 20px;
}
