.grid {
  border: 2px lightyellow solid;
  height: 410px;
  width: 550px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  grid-gap: 10px 15px;
  margin-left: 300px;
  padding: 10px 10px;
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px blue; solid;
  text-align: center;
  padding-top: 80px;
}

img {
  padding-left: 390px;
  padding-top: 50px;
  padding-bottom: 15px;
}

body {
  background-color: skyblue;
}
