h1 {
	padding: 10px auto;
	font-family: helvetica;
	color: darkblue;
  width: 400px;
  margin-bottom: 40px;

}
a[href$=".html"] {
  font-family: Garamond;
  font-size: 20px;
  border: solid;
  border-radius: 10px;
  padding: 10px;
  background-color: skyblue;
  margin: 5px auto;
}
