th {
	border: solid;
	padding: 20px;
	background: yellow;

}
td 	{
	border: solid;
	padding: 40px;
	background: lightblue;
}

h1.date{
	position: relative;
	left: 350px;
}

.breadcrumb > li {
  display:inline;
}

.breadcrumb li+li::before {
	padding: 10px;
  content: ">"
}

.breadcrumb a {
  text-decoration: none;
}

.breadcrumb a:hover {
  color: red;
}
