h1 {
	padding: 10px auto;
	font-family: helvetica;
	color: darkblue;
  width: 400px;
  margin-bottom: 40px;

}
button {
  height: 50px;
  width: 200px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}
