.flat {
	padding: 100px;
	background-color: lightblue;
	color: black;
	font-family: helvetica;
	border-radius: 10px;
	border: 1px solid #466995;	
	font-size: 20px;
	box-shadow: 0px 4px;
}

.flat:hover {
  background-color: skyblue;
  transition: background-color .15s, font-size .15s;
  font-size: 15x;
}

.flat:active {
	background-color: #C0D6DF;
	color: white;
}
